<!DOCTYPE html>
<html lang="cs" dir="ltr">
<head>
	<title>blog.omdesign.cz {% if current > 1 %} - page {{current}} of {{pagination.length}}{% endif %}</title>
	{% include "template/partials/head.html" %}
</head>
<body class="bg-dark container">

<header>{% include "template/partials/navbar.html" %}</header>

<main class="mx-auto">
	{% for page in pages %}
	<article class="shadow p-3 p-lg-5 my-2 my-lg-3 rounded bg-white {{page.slug}}">
		<a href="{{ page.url() }}" class="h1">{{ page.title }}</a>
		{{ page.content | h1strip | safe }}
	</article>
	{% endfor %}
</main>

<footer>{% include "template/partials/pagination.html" %}</footer>
</body>
</html>