<!DOCTYPE html>
<html lang="cs" dir="ltr">
<head>
	<title>{{ page.title | trim }} | blog.omdesign.cz</title>
	<meta charset="UTF-8">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="shortcut icon" href="/favicon.png"/>
</head>
<body class="bg-dark">

<header>{% include "partials/navbar.html" %}</header>

{{page.excerpt()}}

<div class="container-fluid">
	<main class="shadow p-3 p-lg-5 mt-2 mt-lg-3 bg-white rounded mx-auto" style="width: 40%">
		<article>{{ page.content | trim | safe }}</article>
	</main>
	<footer>
		{% if page.tags %}
		<ul class="list-inline">
			{% for tag in page.tags %}
			<li class="list-inline-item">
				<a href="/tag/{{ tag | slug }}">#{{ tag }}</a>
			</li>
			{% endfor %}
		</ul>
		{% endif %}
	</footer>
</div>
</body>
</html>