@import "theme.css";
@import "prism.css";

body {
	display: grid;
	grid-template-areas: "main aside" "footer aside";
	grid-template-columns: 1fr 320px;
	grid-template-rows: 1fr auto;
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
	grid-gap: 1rem !important;
	padding: 1rem !important;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	background-color: var(--body-background-color);
	color: var(--text-color-primary);
}

a {
	color: var(--text-color-href);
}


p, ul, ol, li {
	font-family: var(--font-family);
}

body > footer {
	grid-area: footer;
}

body > main {
	grid-area: main;
	max-width: 912px;
}

body > aside {
	grid-area: aside;
}


@media (max-width: 768px) {
	body {
		grid-template-areas: "aside aside" "main main" "footer footer";
		grid-template-columns: 1fr;
		grid-auto-rows: auto auto auto;
	}
}

@media print {
	body {
		grid-template-areas: "main" "footer";
		grid-template-columns: 1fr;
	}

	.pagination, header, aside {
		display: none;
	}

}

body > main > article {
	padding: 1rem;
}

body > main > article:first-child {
	padding-top: 0 !important;
}

body > main > article:not(:last-child) {
	border-bottom: 1px solid var(--border-color-primary);
	padding-bottom: 2rem !important;
	margin-bottom: 2rem !important;
}

blockquote {
	border-radius: 5px;
	padding: 1em 1.2em;
	font-style: italic;
}

blockquote em {
	display: block;
	font-size: 80%;
	margin-top: .2em;
	color: var(--text-color-secondary);
}

blockquote em::before {
	content: "\2014 \00A0";
}

blockquote p:last-of-type {
	margin-bottom: 0;
}

img.emoji {
	height: 1em;
	width: 1em;
	margin: 0 .05em 0 .1em;
	vertical-align: -0.1em;
	line-height: inherit;
}

article h1,
article h1 > a,
article h2,
article h2.h1 a {
	color: var(--text-color-brighter) !important;
}


article img {
	max-width: 100%;
	height: auto;
}

img.emoji {
	height: 1em;
	width: 1em;
	margin: 0 .05em 0 .1em;
	vertical-align: -0.1em;
}

img[src*='#right'],
img[alt$=">"] {
	float: right !important;
}

img[src*='#left'],
img[alt$="<"] {
	float: left !important;
}

img[src*='#center'],
img[alt$="><"] {
	display: block;
	max-width: 100%;
	height: auto;
	margin: auto;
	float: none !important;
	padding: 1em;
}

.social-media {
	text-align: center;
	color: var(--text-color-primary);
}

.social-media a {
	color: inherit;
}

blockquote,
.page-link,
.form-control,
.list-group-item,
:not(pre) > code[class*=language-],
pre[class*=language-] {
	background-color: var(--background-heighlight-color);
	border-color: var(--border-color-dark);
}

pre {
	background-color: rgba(0, 0, 0, .2);
	border-color: var(--border-color-dark);
	color: var(--text-color-primary);
	padding: 1rem 1.5rem;
	tab-size: 1.5em;
	border-radius: 10px;
	overflow: auto;
}

.page-item .page-link:hover,
.page-item.active .page-link:hover,
.page-item.active .page-link {
	background-color: var(--background-heighlight-color-hover);
	border-color: var(--border-color-dark);
	color: var(--text-heighligh-color);
}

.list-group-item-action {
	background-color: var(--background-heighlight-color);
	color: var(--text-heighligh-color);
}

.list-group-item-action:focus, .list-group-item-action:hover {
	background-color: var(--background-heighlight-color-hover);
	color: var(--text-heighligh-color);
}

.page-link {
	color: var(--text-color-primary);
}

.text-secondary {
	color: var(--text-color-secondary) !important;
}

.text-dark {
	color: var(--text-color-secondary) !important;
}

a.text-dark:focus,
a.text-dark:hover {
	color: var(--text-color-primary) !important;
}

code {
	color: var(--text-color-code);
	background: rgba(0, 0, 0, .1);
	border-radius: 5px;
	display: inline-block;
	padding: 3px;
}

a.btn-copy, a.btn-copy:hover {
	color: var(--text-color-primary);
	position: absolute;
	user-select: none;
	padding: 8px 10px;
	font-size: smaller;
	right: 0;
	top: 0;
}

.card {
	background: inherit;
	border: 0;
}


aside .list-group {
	user-select: none;
}