body {
	font-family: Lora, serif;
	font-size: 22px;
	color: #404040;
	background:#eee;
}

article {
	padding: 3vmax;
	margin-bottom: 2vmax;
	border-radius: 2px;
	background: #ffffff;
}

time {
	font-size: 16px;
	color: #999;
}

p {
	line-height: 1.5;
	margin: 30px 0
}

p a {
	text-decoration: underline
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 800
}

article h1 a {
	color: inherit;
}

a img:hover, a img:focus {
	cursor: zoom-in
}

blockquote {
	color: gray;
	font-style: italic
}

hr.small {
	max-width: 100px;
	margin: 15px auto;
	border-width: 4px;
	border-color: #fff
}

.tags {
	text-align: justify;
	margin: 20px auto;
}

.tags a {
	font-size: 21px;
	color: #555;
}

.tags a:hover {
	color: #111;
}

footer .copyright {
	font-size: 14px;
	text-align: center;
	margin-bottom: 0
}

.floating-label-form-group {
	font-size: 14px;
	position: relative;
	margin-bottom: 0;
	padding-bottom: .5em;
	border-bottom: 1px solid #eee
}

.floating-label-form-group input, .floating-label-form-group textarea {
	z-index: 1;
	position: relative;
	padding-right: 0;
	padding-left: 0;
	border: none;
	border-radius: 0;
	font-size: 1.5em;
	background: 0 0;
	box-shadow: none !important;
	resize: none
}

.floating-label-form-group label {
	display: block;
	z-index: 0;
	position: relative;
	top: 2em;
	margin: 0;
	font-size: .85em;
	line-height: 1.764705882em;
	vertical-align: middle;
	vertical-align: baseline;
	opacity: 0;
	-webkit-transition: top .3s ease, opacity .3s ease;
	-moz-transition: top .3s ease, opacity .3s ease;
	-ms-transition: top .3s ease, opacity .3s ease;
	transition: top .3s ease, opacity .3s ease
}

.floating-label-form-group::not(:first-child) {
	padding-left: 14px;
	border-left: 1px solid #eee
}

.floating-label-form-group-with-value label {
	top: 0;
	opacity: 1
}

.floating-label-form-group-with-focus label {
	color: #0085a1
}

form .row:first-child .floating-label-form-group {
	border-top: 1px solid #eee
}

.btn {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 800;
	letter-spacing: 1px;
	border-radius: 0;
	padding: 15px 25px
}

.btn-lg {
	font-size: 16px;
	padding: 25px 35px
}

.btn-default:hover, .btn-default:focus {
	background-color: #0085a1;
	border: 1px solid #0085a1;
	color: #fff
}

.pager {
	margin: 20px 0 0
}

.pager li > a, .pager li > span {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 800;
	letter-spacing: 1px;
	padding: 15px 25px;
	background-color: #fff;
	border-radius: 0
}

.pager li > a:hover, .pager li > a:focus {
	color: #fff;
	background-color: #0085a1;
	border: 1px solid #0085a1
}

.pager .disabled > a, .pager .disabled > a:hover, .pager .disabled > a:focus, .pager .disabled > span {
	color: gray;
	background-color: #404040;
	cursor: not-allowed
}

::-moz-selection {
	color: #fff;
	text-shadow: none;
	background: #0085a1
}

::selection {
	color: #fff;
	text-shadow: none;
	background: #0085a1
}

img::selection {
	color: #fff;
	background: 0 0
}

img::-moz-selection {
	color: #fff;
	background: 0 0
}

pre {
	background: #23241f;
	border-radius: 2px;
	border: 0;
}
