body {
	font-size: 22px;
	color: #404040;
}

header input[type="search"] {
	background: rgba(255, 255, 255, .1);
	border-radius:0;
	border: none;
	transition: background-color 200ms linear;
	margin-right: 80px;
}

header input[type="search"]:focus {
	background: #fff;
	color: #555;
}

header ul {
	background:#1F1F21;
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content:center;
}

header li.active a {
	background: rgba(255, 255, 255, 0.1);
}

header ul li {
	margin: 0;
	padding: 0;
	vertical-align: middle;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

header ul li a,
header ul li a:hover,
header ul li a:focus,
header ul li a:active,
header ul li a:visited {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 2rem 4rem;
	color: #fff;
	display: block;
	text-decoration: none;
	font-weight: 100;
}

article {
	max-width: 960px;
	margin: 2vw auto;
	font-family: Lora, serif;
	overflow: auto;
	border-bottom: 1px solid #ddd;
}
article:first-of-type {
	margin-top: 20px;
}
article:last-of-type {
	border-bottom: none;
	margin-bottom:
}

article img {
	display: block;
 	max-width: 100%;
 	height: auto;
	margin: auto;
	padding-top: 15px;
	padding-bottom: 15px;
}

article img.right,
article img[alt$=">"] {
	padding-left: 25px;
  float:right;
}

article img.left,
article img[alt$="<"] {
	padding-right: 25px;
  float:left;
}

time {
	font-size: 16px;
	float: right;
	color: #999;
}

p {
	line-height: 1.5;
	margin: 30px 0
}

p a {
	text-decoration: underline
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 800;
	clear: both;
}

article h1 a {
	color: inherit;
}

a img:hover, a img:focus {
	cursor: zoom-in
}

blockquote {
	color: gray;
	font-style: italic
	margin-bottom:5px!important;
}
blockquote p {
	margin: 0 auto;
}

hr.small {
	max-width: 100px;
	margin: 15px auto;
	border-width: 4px;
	border-color: #fff
}

.tags {
	text-align: justify;
	margin: 20px auto;
	clear: both;
}

.tags a {
	font-size: 21px;
	color: #555;
}

.tags a:hover {
	color: #111;
}

footer .copyright {
	font-size: 14px;
	text-align: center;
	margin-bottom: 0
}

.floating-label-form-group {
	font-size: 14px;
	position: relative;
	margin-bottom: 0;
	padding-bottom: .5em;
	border-bottom: 1px solid #eee
}

.floating-label-form-group input, .floating-label-form-group textarea {
	z-index: 1;
	position: relative;
	padding-right: 0;
	padding-left: 0;
	border: none;
	border-radius: 0;
	font-size: 1.5em;
	background: 0 0;
	box-shadow: none !important;
	resize: none
}

.floating-label-form-group label {
	display: block;
	z-index: 0;
	position: relative;
	top: 2em;
	margin: 0;
	font-size: .85em;
	line-height: 1.764705882em;
	vertical-align: middle;
	vertical-align: baseline;
	opacity: 0;
	-webkit-transition: top .3s ease, opacity .3s ease;
	-moz-transition: top .3s ease, opacity .3s ease;
	-ms-transition: top .3s ease, opacity .3s ease;
	transition: top .3s ease, opacity .3s ease
}

.floating-label-form-group::not(:first-child) {
	padding-left: 14px;
	border-left: 1px solid #eee
}

.floating-label-form-group-with-value label {
	top: 0;
	opacity: 1
}

.floating-label-form-group-with-focus label {
	color: #0085a1
}
.btn {
	text-transform: uppercase;
}

.pager {
	margin: 20px 0 0
}

.pager li > a, .pager li > span {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 800;
	letter-spacing: 1px;
	padding: 15px 25px;
	background-color: #fff;
	border-radius: 0
}

.pager li > a:hover, .pager li > a:focus {
	color: #fff;
	background-color: #0085a1;
	border: 1px solid #0085a1
}

.pager .disabled > a, .pager .disabled > a:hover, .pager .disabled > a:focus, .pager .disabled > span {
	color: gray;
	background-color: #404040;
	cursor: not-allowed
}

::-moz-selection {
	color: #fff;
	text-shadow: none;
	background: #0085a1
}

::selection {
	color: #fff;
	text-shadow: none;
	background: #0085a1
}

img::selection {
	color: #fff;
	background: 0 0
}

img::-moz-selection {
	color: #fff;
	background: 0 0
}

pre {
	background: #23241f;
	border-radius: 2px;
	border: 0;
}
