<section class="container">
	{{ $paginator := .Paginate .Data.Pages }}
	{{ range $paginator.Pages }}
	<article>
		{{ if not .Date.IsZero }}
		<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">{{ .Date.Day }}. {{ index .Site.Params.Months (sub .Date.Month 1) }} {{ .Date.Year }}</time>
		{{ end }}
		<h1><a href="{{ .Permalink }}"><div>{{ .Title }}</div></a></h1>
		{{ .Content | replaceRE "<h1.*?>(.|\n)*?</h1>" "" | safeHTML }}
	</article>
	{{ end }}
	{{ partial "pagination.html" . }}
</section>
