@media not print {
	body {
		background: #eee;
	}
}

header input[type="search"] {
	background: rgba(255, 255, 255, .1);
	border-radius:0;
	border: none;
	transition: background-color 200ms linear;
	margin-right: 80px;
}

header input[type="search"]:focus {
	background: #fff;
	color: #555;
}

header ul {
	background:#1F1F21;
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content:center;
}

header li.active a {
	background: rgba(255, 255, 255, 0.1);
}

header ul li {
	margin: 0;
	padding: 0;
	vertical-align: middle;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

header ul li a,
header ul li a:hover,
header ul li a:focus,
header ul li a:active,
header ul li a:visited {
	padding: 1.4rem 2.5rem;
	font-size: 1.4rem;
	color: #fff;
	display: block;
	text-decoration: none;
	font-weight: 100;
}

section.articles {
	display: flex;
	flex-direction:column;
}

@media not print {
	article {
		background: #fff;
		margin: 2vmax auto;
		width: 100%;
		border: 1px solid #ddd;
		padding: 3vmax 4vmax;
		border-radius: 3px;
	}

	article h1:first-of-type {
		margin-bottom: 40px;
	}

	article:first-of-type {
		margin-top: 3vh;
	}
}


article img {
 	max-width: 100%;
 	height: auto;
	margin: auto;
}

article img.right,
article img[alt$=">"] {
	display: block;
	padding-left: 25px;
  float:right;
}

article img.left,
article img[alt$="<"] {
	display: block;
	padding-right: 25px;
  float:left;
}

time {
	font-size: 14px;
	float: right;
	color: #999;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 800;
}

article h1 a {
	color: inherit;
}

article h1 a:hover {
	text-decoration: none;
}

blockquote {
	color: gray;
	font-style: italic
	margin-bottom:5px!important;
}

blockquote p {
	margin: 0 auto;
}

.tags {
	text-align: justify;
	padding: 2vh auto;
	font-size: 22px;
	clear: both;
}

a.tag {
	color: inherit;
}
a:hover.tag  {
	color:#014c8c;
	text-decoration: underline;
}

footer {
	margin-bottom: 1vmax;
}

pre {
	background: #23241f;
	border-radius: 2px;
	border: 0;
}
