body {
	display: grid;
	grid-template-areas: "header header" "main aside" "footer aside";
	grid-template-columns: 1fr 320px;
	grid-template-rows: auto 1fr auto;
	max-width: 1280px;
	margin: 0 auto;
	width: 100%;
	grid-gap: 1rem !important;
	padding: 1rem !important;
}

body > header {
	grid-area: header;
}

body > footer {
	grid-area: footer;
}

boby > main {
	grid-area: main;
}

body > aside {
	grid-area: aside;
}


@media (max-width: 768px) {
	body {
		grid-template-areas: "header" "main" "footer" "aside";
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr auto auto;
	}
}

body > footer {
	padding-bottom: 5vh;
}

body > main > article:first-child {
	padding-top: 0 !important;
}

body > main > article:not(:last-child) {
	border-bottom: 1px solid #dee2e6;
}

blockquote {
	border: 1px solid #e1e8ed;
	border-radius: 5px;
	padding: 1em 1.2em;
	font-style: italic;
	background: #f5f5f5;
}

blockquote em {
	display: block;
	font-size: 80%;
	margin-top: .2em;
	color: #6c757d;
}

blockquote em::before {
	content: "\2014 \00A0";
}

blockquote p:last-of-type {
	margin-bottom: 0;
}

img.emoji {
	height: 1em;
	width: 1em;
	margin: 0 .05em 0 .1em;
	vertical-align: -0.1em;
	line-height: inherit;
}

article h2.h1 a {
	color: inherit;
}

img.emoji {
	height: 1em;
	width: 1em;
	margin: 0 .05em 0 .1em;
	vertical-align: -0.1em;
}

.language-text {
	display: block;
	overflow-x: auto;
	padding: 0.5em;
	background: #23241f;
	color: #f8f8f2;
}

img[alt$=">"] {
	float: right;
}

img[alt$="<"] {
	float: left;
}

img[alt$="<>"] {
	display: block;
	max-width: 100%;
	height: auto;
	margin: auto;
	float: none !important;
}