<form class="form-inline my-3" method="get" id="search">
		<input class="form-control text-secondary w-100" id="q" name="q" type="search" placeholder="Search&hellip;" aria-label="Search">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.4.5/fuse.min.js"></script>
		<script>
			(async () => {
				const response = await fetch('/index.json');
				const index = await response.json();

				const fuse = new Fuse(index, {
					shouldSort: true,
					findAllMatches: true,
					threshold: 0.5,
					location: 0,
					distance: 100,
					maxPatternLength: 32,
					minMatchCharLength: 1,
					keys: [
						{name: "title", weight: 0.8},
						{name: "tags", weight: 0.6},
						{name: "content", weight: 0.3}
					]
				});


				const q = document.getElementById('q');
				const main = document.getElementsByTagName("main")[0];
				const mainBackup = main.innerHTML;

				const search = (event) => {
					let results = fuse.search(q.value);
					if (q.value.length === 0) {
						main.innerHTML = mainBackup;
					} else {
						main.innerHTML = '<h1>Search results:</h1>';
					}

					results.map((page) => {
						main.insertAdjacentHTML("beforeend", `
						<article>
							<h2 class="h1">
								<a href="${page.link}">${page.title}</a>
							</h2>
							<p class="text-secondary"><small>${page.content}</small></p>
						</article>`);
					});
					event.preventDefault();
				};

				['keyup', 'change'].forEach((e) => {
					q.addEventListener(e, (event) => {
						search(event)
					}, false)
				});

			})();
		</script>
</form>

<section class="list-group">
	<a class="list-group-item list-group-item-action" href="/">🏠 Home</a>
	<a class="list-group-item list-group-item-action" href="/photo">📷 Photo</a>
	<a class="list-group-item list-group-item-action" href="/apple"> Apple</a>
	<a class="list-group-item list-group-item-action" href="/js">🥕 Javascript</a>
	<a class="list-group-item list-group-item-action" href="/links">🔗 Links</a>	
	<a class="list-group-item list-group-item-action" href="/books">📘 Books</a>
	<a class="list-group-item list-group-item-action" href="/series">🎞 Series</a>
	<a class="list-group-item list-group-item-action" href="/tag/recepty">👨‍🍳 Recepty</a>
	<a class="list-group-item list-group-item-action" href="/quotes">🗣 Quotes</a>
</section>

<section class="social-media">
	<a href="https://github.com/OzzyCzech/" target="_blank">GitHub</a>
	<span>•</span>
	<a href="https://meta.stackoverflow.com/users/355316/" target="_blank">StackOverflow</a>
	<span>•</span>
	<a href="https://www.twitter.com/OzzyCzech" target="_blank">Twitter</a>
</section>
