<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="/">OzzyCzech</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavDropdown">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item"><a class="nav-link" href="/web">Web/src</a></li>
			<li class="nav-item"><a class="nav-link" href="/js">Js/src</a></li>
			<li class="nav-item"><a class="nav-link" href="/quotes">Quotes</a></li>
			<li class="nav-item"><a class="nav-link" href="/books">Books</a></li>
			<li class="nav-item"><a class="nav-link" href="/series">Series</a></li>
			<li class="nav-item"><a class="nav-link" href="/photo">Photo</a></li>
			<li class="nav-item"><a class="nav-link" href="/links">Links</a></li>
			<li class="nav-item"><a class="nav-link" href="/apple">Apple</a></li>
		</ul>
		<form class="form-inline my-2 my-lg-0" method="get" action="https://www.google.com/search" target="_blank">
			<div class="input-group">
				<input type="hidden" name="as_sitesearch" value="ozzyczech.cz">
				<input class="form-control bg-dark border-secondary  text-light" name="q" type="search" placeholder="Search&hellip;" aria-label="Search">
				<div class="input-group-append">
					<button class="btn btn-outline-secondary" type="submit">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
							<path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z" fill="#ced4da"/>
							<path d="M0 0h24v24H0z" fill="none"/>
						</svg>
					</button>
				</div>
			</div>
		</form>
	</div>
</nav>