---
---

<div class="justified-gallery not-content">
	<slot />
</div>

<style>
	.justified-gallery {
		display: flex;
		flex-wrap: wrap;
		gap: clamp(24px, 3vw, 48px);
		padding: clamp(16px, 2vw, 32px);
	}

	.justified-gallery::after {
		content: "";
		flex-grow: 1000000000;
	}
</style>
