<!DOCTYPE html>
<html lang="cs" dir="ltr">
<head>
	<title>OzzyCzech {% if page.current > 1 %} - Page {{page.current}} of {{page.pages.length}}{% else %} by Roman Ožana{% endif %}</title>
	{% include "theme/partials/head.html" %}
</head>
<body>

<aside>{% include "theme/partials/aside.html" %}</aside>

<main>
	{% for post in page.posts %}
	<article class="{{post.slug}}">
		<small class="d-block float-right text-secondary">{{post.date.getDate()}}. {{post.date.getMonth() + 1}}. {{post.date.getFullYear()}}</small>
		<h2 class="h1">
			<a href="{{ post.link() }}">{{ post.title }}</a>
		</h2>

		{{ post.content | h1strip | safe }}
	</article>
	{% endfor %}
</main>

<footer>{% include "theme/partials/pagination.html" %}</footer>

</body>
</html>