<!DOCTYPE html>
<html lang="cs" dir="ltr">
<head>
	<meta charset="UTF-8">
	<title>{{ page.title | trim }} | om/blog</title>
	{% include "theme/partials/head.html" %}
</head>
<body class="bg-dark {{page.slug}} container">

<header>{% include "theme/partials/navbar.html" %}</header>

<main class="shadow p-3 p-lg-5 mt-2 mt-lg-3 bg-white rounded ">
	<article>{{ page.content | trim | safe }}</article>
</main>

<footer class="my-2 text-secondary text-right">
	<a href="https://raw.githubusercontent.com/OzzyCzech/blog.omdesign.cz/master/{{ page.dir | urlencode }}/{{page.base | urlencode}}{{page.ext}}" class="text-secondary">view source</a> 
	| 
	{{page.date.getDate()}}. {{page.date.getMonth()}}. {{page.date.getFullYear()}}
	| 
	<script>
		var date = dateFns.distanceInWords(new Date('{{page.date}}'), new Date()) + ' ago';
		document.getElementsByTagName('footer')[0].innerHTML += date;
	</script>
</footer>
</body>
</html>