<!DOCTYPE html>
<html lang="cs" dir="ltr">
<head>
	<title>OzzyCzech {% if current > 1 %} - Page {{current}} of {{pagination.length}}{% else %} by Roman Ožana{% endif %}</title>
	{% include "theme/partials/head.html" %}
</head>
<body>

<aside>{% include "theme/partials/aside.html" %}</aside>

<main>
	{% for page in pages %}
	<article class="{{page.slug}}">
		<h2 class="h1">
			<a href="{{ page.url() }}">{{ page.title }}</a>
		</h2>
		{{ page.content | h1strip | safe }}
	</article>
	{% endfor %}
</main>



<footer>{% include "theme/partials/pagination.html" %}</footer>

</body>
</html>