<!DOCTYPE html>
<html lang="cs" dir="ltr">
<head>
	<meta charset="UTF-8">
	<title>{{ page.title | trim }}</title>
	{% include "theme/partials/head.html" %}
</head>
<body class="{{page.slug}}">

<aside>{% include "theme/partials/aside.html" %}</aside>

<main>
	<article class="{{page.slug}}">

		<small class="d-block float-right text-secondary">{{page.date.getDate()}}. {{page.date.getMonth()}}. {{page.date.getFullYear()}}</small>

		{{ page.content | trim | safe }}

		{% include "theme/partials/tags.html" %}

	</article>
</main>

<footer class="text-secondary text-right">
	<small>
		<script>
			var date = dateFns.distanceInWords(new Date('{{page.date}}'), new Date()) + ' ago';
			document.currentScript.insertAdjacentHTML("beforebegin", date);
		</script>
		| <a href="https://raw.githubusercontent.com/OzzyCzech/ozzyczech.cz/master/{{ page.dir | urlencode }}/{{page.base | urlencode}}{{page.ext}}" target="_blank" class="text-secondary">view</a>
		| <a href="https://github.com/OzzyCzech/ozzyczech.cz/delete/master/{{ page.dir | urlencode }}/{{page.base | urlencode}}{{page.ext}}" target="_blank" class="text-secondary">delete</a>
		| <a href="https://github.com/OzzyCzech/ozzyczech.cz/edit/master/{{ page.dir | urlencode }}/{{page.base | urlencode}}{{page.ext}}" target="_blank" class="text-secondary">edit</a>
	</small>
</footer>

</body>
</html>