<!DOCTYPE html>
<html lang="cs" dir="ltr">
<head>
	<title>OzzyCzech {% if page.current > 1 %} - Page {{page.current}} of {{page.pages.length}}{% else %} by Roman Ožana{% endif %}</title>
	{% include "theme/partials/head.html" %}
</head>
<body>

<aside>{% include "theme/partials/aside.html" %}</aside>

<main>
	<h1><a href="/tag/{{tag|slugify}}">#{{tag}}</a></h1>

	<div class="list-group my-3">
	{% for post in posts %}
		<a class="h4 list-group-item list-group-item-action" href="{{ post.link() }}">{{ post.title }}</a>
	{% endfor %}
	</div>

	<p>
		{% for tag in tags | sort %}
		<a href="/tag/{{tag|slugify}}" class="text-dark">#{{tag}}</a>
		{% endfor %}
	</p>

</main>

</body>
</html>