
<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{- .Description -}}">
	<link rel="shortcut icon" href="{{ .Site.BaseURL }}/favicon.ico">
	<meta name="author" content="Roman Ožana">
	<title>{{- .Title -}}</title>
	<link rel="canonical" href="https://blog.testomato.com/" />
	{{- partial "seo/twitter_cards.html" . -}}
	{{- partial "seo/open_graph.html" . -}}
	{{- partial "seo/schema.html" . -}}
	{{- if .RSSlink -}}
	<link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}"/>
	<link href="{{ .RSSlink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}"/>
	{{- end -}}
	{{ "<!-- Fonts, jQuery and js -->" | safeHTML }}
	<link href="//fonts.googleapis.com/css?family=Lora" rel="stylesheet">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script src="{{ .Site.BaseURL }}/js/app.js"></script>
	{{"<!-- Twitter boostrap -->" | safeHTML }}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
	{{"<!-- highlight.js -->" | safeHTML }}
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/monokai-sublime.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/highlight.min.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>
	<link href="{{ .Site.BaseURL }}/css/style.css" rel="stylesheet">
	<meta name="msvalidate.01" content="3A844D439E786F7E8FA940D153567FD3" />
</head>
<body>
<header class="hidden-print">
	<nav>
		<ul>
			<li><a href="https://omdesign.cz/">Home</a></li>
			<li><a href="https://omdesign.cz/work">Work</a></li>
			<li><a href="https://omdesign.cz/resume">Resume</a></li>
			<li class="active"><a href="{{ .Site.BaseURL }}">Blog</a></li>
			<li><a href="https://omdesign.cz/contact">Contact</a></li>
			<li>{{ partial "search.html" . }}</li>
		</ul>
	</nav>

</header>
