
<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{- .Description -}}">
	<link rel="shortcut icon" href="{{ .Site.BaseURL }}/favicon.ico">
	<meta name="author" content="Roman Ožana">
	<title>{{- .Title -}}</title>
	<link rel="canonical" href="https://blog.testomato.com/" />
	{{- partial "seo/twitter_cards.html" . -}}
	{{- partial "seo/open_graph.html" . -}}
	{{- partial "seo/schema.html" . -}}
	{{ if .RSSLink }}<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />{{ end }}		
	<script src="{{ .Site.BaseURL }}/js/app.js"></script>		
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/monokai-sublime.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/highlight.min.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>
	<link href="{{ .Site.BaseURL }}/css/style.css" rel="stylesheet">
	<meta name="msvalidate.01" content="3A844D439E786F7E8FA940D153567FD3" />
</head>
<body>
<header class="hidden-print">
	
	<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">		
		<a class="navbar-brand" href="/">omBlog</a>	
		<ul class="navbar-nav mr-auto">			
			<li class="nav-item"><a href="/js" class="nav-link">Javascript</a></li>
			<li class="nav-item"><a href="/recepty" class="nav-link">Recepty</a></li>
			<li  class="nav-item"><a href="https://omdesign.cz" class="nav-link" title="Homepage">Contact</a></li>
		</ul>
		{{ partial "search.html" . }}		 
	</nav>	

</header>