/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	display: grid;
	grid-template-areas: "main aside" "footer aside";
	grid-template-columns: minmax(0, auto) 320px;
	grid-template-rows: 1fr auto;

	grid-gap: 1rem !important;
	padding: 1rem !important;
	margin: 0 auto;

	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

a {
}

a:hover {
	@apply underline;
}

body > footer {
	grid-area: footer;
}

body > main {
	grid-area: main;
}

body > aside {
	grid-area: aside;
}

@media (max-width: 768px) {
	body {
		grid-template-areas: "aside aside" "main main" "footer footer";
		grid-template-columns: 1fr;
		grid-auto-rows: auto auto auto;
	}
}

@media print {
	body {
		grid-template-areas: "main" "footer";
		grid-template-columns: 1fr;
	}

	.pagination, header, aside {
		display: none;
	}

}

article p, ol, ul {
	@apply font-mono;
}

article p {
	@apply mb-3;
}

article ul {
	@apply list-disc list-inside mb-3;
}

article ol {
	@apply list-decimal list-inside mb-3;
}