/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

pre {
	@apply text-white bg-black bg-opacity-75 rounded;
	@apply overflow-x-auto;
	@apply p-4 mb-3 leading-snug;
	@apply font-mono text-left leading-6;
	@apply break-normal;
	@apply whitespace-pre !important;
	hyphens: none;
	tab-size: 2;
}

:root {
	--token-comment: #468438;
	--token-tag: #e06c75;
	--token-string: #CF7A60;
	--line-number-color: #5C6370;
	--token-variable: #77D6FF;
	--token-keyword: #C368B5;
}

.token.shebang,
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: var(--token-comment);
}

.token.selector,
.token.tag {
	color: var(--token-tag);
}

.token.property,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.attr-name,
.token.deleted {
	color: #d19a66;
}

.token.string,
.token.char,
.token.attr-value,
.token.builtin,
.token.inserted {
	color: var(--token-string);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #56b6c2;
}

.token.atrule,
.token.keyword {
	color: var(--token-keyword);
}

.token.function {
	color: #61afef;
}

.token.regex,
.token.important,
.token.variable {
	color: var(--token-variable);
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}