<!doctype html>
<html lang="en_US">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="author" content="All: Roman Ozana; e-mail: ozana@omdesign.cz">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">

	<style type="text/css">
		{capture $css}
		.btn-login {
			font-size: 20px;
			color: #fff;
			margin: 20px;
			-webkit-font-smoothing: antialiased;
			width: 300px;
		}

		.btn-login:hover {
			color: #fff;
		}

		.btn-login svg {
			vertical-align: middle;
			width: 24px;
			height: 24px;
			fill: #fff;
			margin-right: 10px;
			display: inline-block;
		}{/capture}
		{$css|noescape}
	</style>
</head>

<body>
<div class="container-fluid">

	<div class="row">
		<div class="col-md-6 col-lg-offset-3 text-center">

			<h1>Flat vector Login with &hellip; buttons</h1>

			{capture $twitter}
				<div class="btn btn-lg btn-login twitter" style="background: #55acee">
					{include 'twitter.svg'} Login with Twitter
				</div>
			{/capture}
			{$twitter|noescape}<textarea class="form-control" rows="10">{$twitter|trim}</textarea>


			{capture $facebook}
				<div class="btn btn-lg btn-login facebook" style="background: #3b5998">
					{include 'facebook.svg'} Login with Facebook
				</div>
			{/capture}
			{$facebook|noescape}<textarea class="form-control" rows="10">{$facebook|trim}</textarea>

			{capture $github}
				<div class="btn btn-lg btn-login google" style="background: #999999">
					{include 'github.svg'} Login with Github
				</div>
			{/capture}
			{$github|noescape}<textarea class="form-control" rows="10">{$github|trim}</textarea>

			{capture $linked}
				<div class="btn btn-lg btn-login google" style="background: #0976b4">
					{include 'linked.svg'} Login with Linkedin
				</div>
			{/capture}
			{$linked|noescape}<textarea class="form-control" rows="10">{$linked|trim}</textarea>


			{capture $linked}
				<div class="btn btn-lg btn-login google" style="background: #fe7a15">
					{include 'overflow.svg'} Login with StackOverflow
				</div>
			{/capture}
			{$linked|noescape}<textarea class="form-control" rows="10">{$linked|trim}</textarea>


			{capture $google}
				<div class="btn btn-lg btn-login google" style="background: #dd4b39">
					{include 'google.svg'} Login with Google Plus
				</div>
			{/capture}
			{$google|noescape}<textarea class="form-control" rows="10">{$google|trim}</textarea>


			<h2>and CSS for all</h2>

			<textarea class="form-control" rows="10">{$css}</textarea>
		</div>
	</div>

</div>
</body>

